header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80') bottom no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    font-family: 'Tahoma', serif;
    color: white;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

article h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    color: blueviolet;
}

article button {
    height: 20px;
    margin-bottom: 5px;
    color: cornflowerblue;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.copyright {
    color: rgb(202, 15, 219);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#trafficLight {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }